@charset "utf-8";

body {
    font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
    margin: 0;
    background-color: #000;
    background-image: url("../images/bkgr/backSpace.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    overflow-x: hidden;
}
* {
    -webkit-transition: all 1s ease-out -0.7s;
}
h1 {
    color: #FFFFFF;
    position: absolute;
    text-indent: 999999px;
    top: -9999px;
}
a:hover {
    cursor: pointer;
}
/*--------------------------------------*/
.container {
    height: 11921px;
    left: 50%;
    margin-left: -955px;
    position: absolute;
    top: -10px;
    width: 1130px;
}
/*--------------NAVBAR------------------*/
.navbar {
    background: url("../images/menu/menu01.png") no-repeat scroll 0 0 transparent;
    height: 445px;
    left: 0;
    position: fixed;
    top: 115px;
    width: 40px;
    z-index: 500;
}
.navbar * {
    background: url("../images/menu/menu02.png") no-repeat scroll 0 0 transparent;
    left: 0;
    position: fixed;
    text-indent: -999999px;
    width: 40px;
    z-index: 500;
}
.navbar_back {
    background: url("../images/menu/menu03.png") no-repeat scroll 0 0 transparent;
    height: 445px;
    top: 477px;
    z-index: 498;
}
.step-12 {
    background-position-y: -45px;
    height: 22px;
    top: 160px;
}
.step-11 {
    background-position-y: -75px;
    height: 22px;
    top: 191px;
}
.step-10 {
    background-position-y: -107px;
    height: 22px;
    top: 221px;
}
.step-09 {
    background-position-y: -137px;
    height: 25px;
    top: 252px;
}
.step-08 {
    background-position-y: -167px;
    height: 25px;
    top: 282px;
}
.step-07 {
    background-position-y: -199px;
    height: 25px;
    top: 314px;
}
.step-06 {
    background-position-y: -228px;
    height: 25px;
    top: 342px;
}
.step-05 {
    background-position-y: -259px;
    height: 25px;
    top: 373px;
}
.step-04 {
    background-position-y: -290px;
    height: 25px;
    top: 405px;
}
.step-03 {
    background-position-y: -322px;
    height: 25px;
    top: 437px;
}
.step-02 {
    background-position-y: -353px;
    height: 25px;
    top: 469px;
}
.step-01 {
    background-position-y: -385px;
    height: 25px;
    top: 499px;
}

/*--------------------------------------*/
.stars-sm {
    background: url("../images/bkgr/stars-sm.png") no-repeat scroll 0 0 transparent;
    height: 9862px;
    position: fixed;
    top: 50px;
    width: 1920px;
    z-index: 50;
}
.stars-lg {
    background: url("../images/bkgr/stars-lg.png") no-repeat scroll 0 0 transparent;
    height: 8880px;
    position: fixed;
    top: 50px;
    width: 1920px;
    z-index: 40;
}
.years {
    background: url("../images/bkgr/years.png") no-repeat scroll 0 0 transparent;
    height: 6426px;
    left: 35%;
    position: absolute;
    top: 1475px;
    width: 137px;
    z-index: 45;
}
.line_years {
    background: url("../images/bkgr/line_years.png") no-repeat scroll 0 0 transparent;
    height: 6457px;
    left: 0;
    position: absolute;
    top: 1446px;
    width: 1920px;
    z-index: 40;
}
/*-------------- SHIP ------------------*/
.ship {
    background: url("../images/ship/ship.png") no-repeat scroll 840px 0 transparent;
    height: 327px;
    position: fixed;
    top: 120px;
    width: 1920px;
    z-index: 60;
}
.ship-packed {
    background: url("../images/ship/ship-packed.png") no-repeat scroll 843px 0 transparent;
    display: none;
    height: 327px;
    position: fixed;
    top: 142px;
    width: 1920px;
    z-index: 60;
}
.ship_fire {
    background: url("../images/ship/fire.gif") no-repeat scroll 896px 0 transparent;
    height: 50px;
    position: fixed;
    top: 415px;
    width: 1920px;
    z-index: 59;
    display: none;
}
/*---------------STAGE 1----------------*/
.base_launch {
    background: url("../images/stage01/base.png") no-repeat scroll 0 0 transparent;
    height: 1150px;
    left: -5px;
    position: absolute;
    top: 10778px;
    width: 1920px;
    z-index: 49;
}
.bay-left {
    background: url("../images/stage01/bay-l.png") no-repeat scroll 0 0 transparent;
    height: 83px;
    left: 85px;
    position: absolute;
    top: 10883px;
    width: 439px;
    z-index: 50;
}
.baydoor-left {
    background: url("../images/stage01/baydoor-l.png") no-repeat scroll 0 0 transparent;
    height: 35px;
    left: 524px;
    position: absolute;
    top: 10917px;
    width: 430px;
    z-index: 49;
}
.bay-right {
    background: url("../images/stage01/bay-r.png") no-repeat scroll 0 0 transparent;
    height: 83px;
    left: 1387px;
    position: absolute;
    top: 10884px;
    width: 438px;
    z-index: 50;
}
.baydoor-right {
    background: url("../images/stage01/baydoor-r.png") no-repeat scroll 0 0 transparent;
    height: 35px;
    left: 954px;
    position: absolute;
    top: 10915px;
    width: 433px;
    z-index: 49;
}
.launcher {
    background: url("../images/btn_start.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    height: 115px;
    left: 801px;
    position: absolute;
    text-indent: -9999px;
    width: 116px;
    z-index: 50;
}
.launcher:hover {
    background: url("../images/btn_start.png") no-repeat scroll 0 -115px transparent;
}
.cloud_1 {
    background: url("../images/stage01/cloud1.png") no-repeat scroll 350px 0 transparent;
    height: 60px;
    position: fixed;
    top: 7550px;
    width: 1920px;
    z-index: 51;
}
.cloud_2 {
    background: url("../images/stage01/cloud2.png") no-repeat scroll 1256px 0 transparent;
    height: 64px;
    position: fixed;
    top: 6975px;
    width: 1920px;
    z-index: 61;
}
.cloud_4 {
    background: url("../images/stage01/cloud4.png") no-repeat scroll 1420px 0 transparent;
    height: 60px;
    position: fixed;
    top: 7210px;
    width: 1920px;
    z-index: 51;
}
.cloud_5 {
    background: url("../images/stage01/cloud5.png") no-repeat scroll 330px 0 transparent;
    height: 66px;
    position: fixed;
    top: 6980px;
    width: 1920px;
    z-index: 61;
}
.cloud_3 {
    background: url("../images/stage01/cloud3.png") no-repeat scroll 750px 0 transparent;
    height: 90px;
    position: fixed;
    top: 7010px;
    width: 1920px;
    z-index: 61;
}
/*---------------STAGE 2----------------*/
.banner_2 {
    background: url("../images/bkgr/banner.png") no-repeat scroll 0 0 transparent;
    height: 400px;
    margin: 0 -22px;
    position: fixed;
    top: 11080px;
    width: 1935px;
    z-index: 70;
}
.wiki_img {
    background: url("../images/stage02/wiki.png") no-repeat scroll 1340px 0 transparent;
    height: 400px;
    position: fixed;
    top: 7500px;
    width: 1920px;
    z-index: 50;
}
.myspace {
    background: url("../images/stage02/myspace.png") no-repeat scroll 600px 0 transparent;
    height: 353px;
    position: fixed;
    top: 7100px;
    width: 1920px;
    z-index: 50;
}
/*---------------STAGE 3----------------*/
.banner_3 {
    background: url("../images/bkgr/banner.png") no-repeat scroll -10px 0 transparent;
    height: 400px;
    position: fixed;
    top: 9580px;
    width: 1920px;
    z-index: 70;
}
.satellite_1 {
    background: url("../images/stage03/satellite03.png") no-repeat scroll 1260px -100px transparent;
    height: 174px;
    position: fixed;
    top: 2950px;
    width: 1920px;
    z-index: 50;
}
.rays_1 {
    background: url("../images/stage03/rays03.png") no-repeat scroll 1150px 0 transparent;
    height: 186px;
    position: fixed;
    top: 3050px;
    width: 1920px;
    z-index: 50;
    display: none;
}
.satellite_2 {
    background: url("../images/stage03/satellite02.png") no-repeat scroll 400px 0 transparent;
    height: 146px;
    position: fixed;
    top: 3220px;
    width: 1920px;
    z-index: 50;
}
.rays_2 {
    background: url("../images/stage03/rays02.png") no-repeat scroll 610px 0 transparent;
    height: 201px;
    position: fixed;
    top: 3300px;
    width: 1920px;
    z-index: 50;
    display: none;
}
.satellite_3 {
    background: url("../images/stage03/satellite01.png") no-repeat scroll 430px 100px transparent;
    height: 175px;
    position: fixed;
    top: 2950px;
    width: 1920px;
    z-index: 50;
}
.rays_3 {
    background: url("../images/stage03/rays01.png") no-repeat scroll 540px 100px transparent;
    height: 375px;
    position: fixed;
    top: 2770px;
    width: 1920px;
    z-index: 50;
    display: none;
}
.stars_stage_3_a {
    background: url("../images/stage03/star-a.png") no-repeat scroll 1275px 0 transparent;
    height: 20px;
    position: fixed;
    top: 4800px;
    width: 1920px;
    z-index: 49;
}
.stars_stage_3_b {
    background: url("../images/stage03/star-b.png") no-repeat scroll 650px 0 transparent;
    height: 20px;
    position: fixed;
    top: 2650px;
    width: 1920px;
    z-index: 49;
}
.stars_stage_3_c {
    background: url("../images/stage03/star-c.png") no-repeat scroll 500px 0 transparent;
    height: 20px;
    position: fixed;
    top: 2860px;
    width: 1920px;
    z-index: 49;
}
/*---------------STAGE 4----------------*/
.banner_4 {
    background: url("../images/bkgr/banner.png") no-repeat scroll 0 0 transparent;
    height: 400px;
    position: fixed;
    top: 7080px;
    width: 1920px;
    z-index: 70;
    margin: 0 -5px;
}
.gmail {
    background: url("../images/stage04/gmail.png") no-repeat scroll 0 0 transparent;
    height: 483px;
    position: fixed;
    top: 4780px;
    width: 1920px;
    z-index: 50;
}
.youtube {
    background: url("../images/stage04/youtube.png") no-repeat scroll 500px 0 transparent;
    height: 174px;
    position: fixed;
    top: 3900px;
    width: 1920px;
    z-index: 50;
}
.ship_pack_upper_left {
    background: url("../images/ship/ship_pack3.png") no-repeat scroll 0 0 transparent;
    height: 189px;
    position: fixed;
    top: 4040px;
    width: 1920px;
    z-index: 50;
}
.ship_pack_upper_right {
    background: url("../images/ship/ship_pack1.png") no-repeat scroll 0 0 transparent;
    height: 189px;
    position: fixed;
    top: 4040px;
    width: 1920px;
    z-index: 50;
}
.ship_pack_bottom_left {
    background: url("../images/ship/ship_pack4.png") no-repeat scroll 0 0 transparent;
    height: 189px;
    position: fixed;
    top: -3590px;
    width: 1920px;
    z-index: 50;
}
.ship_pack_bottom_right {
    background: url("../images/ship/ship_pack2.png") no-repeat scroll 0 0 transparent;
    height: 189px;
    position: fixed;
    top: -3590px;
    width: 1920px;
    z-index: 52;
}
/*---------------STAGE 5----------------*/
.banner_5 {
    background: url("../images/bkgr/banner.png") no-repeat scroll 0 0 transparent;
    height: 400px;
    position: fixed;
    top: 5680px;
    width: 1920px;
    z-index: 70;
    margin: 0 -5px;
}
.facebook {
    background: url("../images/stage05/facebook.png") no-repeat scroll 10px 0 transparent;
    height: 416px;
    position: fixed;
    top: 3090px;
    width: 1920px;
    z-index: 60;
}
.twitter01 {
    background: url("../images/stage05/twitter01.png") no-repeat scroll 1230px 0 transparent;
    height: 214px;
    position: fixed;
    top: 4100px;
    width: 1920px;
    z-index: 60;
}
.twitter02 {
    background: url("../images/stage05/twitter02.png") no-repeat scroll 1230px 0 transparent;
    height: 187px;
    position: fixed;
    top: 3400px;
    width: 1920px;
    z-index: 60;
}
.twitter03 {
    background: url("../images/stage05/twitter03.png") no-repeat scroll 1230px 0 transparent;
    height: 187px;
    position: fixed;
    top: 3600px;
    width: 1920px;
    z-index: 60;
}
.probe-r {
    background: url("../images/stage05/probe-r.png") no-repeat scroll 1070px 0 transparent;
    height: 138px;
    position: fixed;
    top: 3700px;
    width: 1920px;
    z-index: 60;
}
.probe-l {
    background: url("../images/stage05/probe-l.png") no-repeat scroll 1144px 0 transparent;
    height: 138px;
    position: fixed;
    top: -2440px;
    width: 1920px;
    z-index: 60;
}
.probe-l_2 {
    background: url("../images/stage05/probe-l.png") no-repeat scroll 1143px 0 transparent;
    height: 138px;
    position: fixed;
    top: 2600px;
    width: 1920px;
    z-index: 60;
    display: none;
}
/*---------------STAGE 6----------------*/
.banner_6 {
    background: url("../images/bkgr/banner.png") no-repeat scroll 0 0 transparent;
    height: 400px;
    position: fixed;
    top: 3740px;
    width: 1920px;
    z-index: 70;
    margin: 0 -5px;
}
/* */
.platform_1_a {
    background: url("../images/stage06/platform_1.png") no-repeat scroll 576px 0 transparent;
    height: 347px;
    overflow: hidden;
    position: absolute;
    top: 2855px;
    width: 1920px;
    z-index: 65;
}
.platform_1_b {
    height: 200px;
    overflow: hidden;
    position: relative;
    top: 2879px;
    width: 1920px;
    z-index: 65;
}
.ship-sm_mirror_1 {
    background: url("../images/ship/ship-sm_mirror.png") no-repeat scroll 640px 0 transparent;
    height: 131px;
    position: relative;
    top: 305px;
    width: 1920px;
    z-index: 65;
}
/* */
.platform_2_a {
    background: url("../images/stage06/platform_2.png") no-repeat scroll 1116px 0 transparent;
    height: 645px;
    overflow: hidden;
    position: absolute;
    top: 1500px;
    width: 1920px;
    z-index: 69;
}
.platform_2_b {
    height: 343px;
    overflow: hidden;
    position: absolute;
    top: 1540px;
    width: 1920px;
    z-index: 69;
}
.ship-lg_mirror_2 {
    background: url("../images/ship/ship-lg_mirror.png") no-repeat scroll 1198px 0 transparent;
    height: 325px;
    position: relative;
    top: 505px;
    width: 1920px;
    z-index: 65;
}
/* */
.platform_3_a {
    background: url("../images/stage06/platform_3.png") no-repeat scroll 1114px 0 transparent;
    height: 262px;
    position: absolute;
    top: 2440px;
    width: 1920px;
    z-index: 69;
}
.platform_3_b {
    height: 126px;
    overflow: hidden;
    position: absolute;
    top: 2451px;
    width: 1920px;
    z-index: 69;
}
.ship-sm_mirror_3 {
    background: url("../images/ship/ship-sm_mirror.png") no-repeat scroll 1225px 0 transparent;
    height: 131px;
    position: relative;
    top: 320px;
    width: 1920px;
    z-index: 65;
}
/* */
.platform_4_a {
    background: url("../images/stage06/platform_4.png") no-repeat scroll 435px 0 transparent;
    height: 443px;
    position: absolute;
    top: 2050px;
    width: 1920px;
    z-index: 59;
    overflow: hidden;
}
.platform_4_b {
    height: 251px;
    overflow: hidden;
    position: absolute;
    top: 2067px;
    width: 1920px;
    z-index: 59;
}
.ship-lg_mirror_4 {
    background: url("../images/ship/ship-lg_mirror.png") no-repeat scroll 622px 0 transparent;
    height: 325px;
    position: relative;
    top: 440px;
    width: 1920px;
    z-index: 65;
}
/*---------------STAGE 7----------------*/
.platform_final {
    background: url("../images/stage07/platform.png") no-repeat scroll 0 0 transparent;
    height: 1368px;
    position: absolute;
    top: 9px;
    width: 1926px;
    z-index: 71;
}
.plat_7_stars_1 {
    background: url("../images/stage07/stars-1.png") no-repeat scroll 161px 0 transparent;
    height: 295px;
    position: fixed;
    top: 10px;
    width: 1920px;
    z-index: 60;
}
.plat_7_stars_2 {
    background: url("../images/stage07/stars-2.png") no-repeat scroll 170px 0 transparent;
    height: 295px;
    position: fixed;
    top: 10px;
    width: 1920px;
    z-index: 60;
}
.plat_7_stars_3 {
    background: url("../images/stage07/stars-3.png") no-repeat scroll 200px 0 transparent;
    height: 295px;
    position: fixed;
    top: 10px;
    width: 1920px;
    z-index: 60;
}
.plat_7_facebook {
    background: url("../images/stage07/facebook.png") no-repeat scroll 1297px 0 transparent;
    height: 81px;
    position: fixed;
    top: 85px;
    width: 1920px;
    z-index: 70;
}
.plat_7_twitter {
    background: url("../images/stage07/twitter.png") no-repeat scroll 1265px 0 transparent;
    height: 81px;
    position: fixed;
    top: 140px;
    width: 1920px;
    z-index: 70;
}
.plat_7_stars {
    background: url("../images/stage07/stars-0.png") no-repeat scroll 0 0 transparent;
    height: 459px;
    position: absolute;
    top: 180px;
    width: 1920px;
    z-index: 65;
}
.intacto_url_link {
    font-size: 20px;
    left: 877px;
    position: absolute;
    top: 179px;
    width: 167px;
    z-index: 112;
}
a.intacto_url_link {
    color: #799B00;
    text-decoration: none;
    text-indent: 99999px;
}
/*---------------LOADER------------------*/
.QOverlay {
    background: url("../images/bkgr/back_sky.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    width: 1920px;
    height: 1080px;
    z-index: 9999;
}

.QLoader {
    background-color: #869e00;
    height: 3px;
    display: none;
}

.QAmt {
    color: #869e00;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    width: 100px;
    margin: -60px 0 0 -50px;
}

/*--------------------------------------*/
